/target
/Cargo.lock
*.swp
*.swo
.cargo
.vscode
.idea
rls*.log
tarpaulin-report.html
*.txt
plan.md
*.kdev4
/.kdev4
issue20.md
issue18.md
issue17.md
expanded_enum.rs
expanded_macro.rs
revert_align.py
test_infer
test_infer.rs
test_infer2
test_infer2.rs
test_infer3.rs
test_infer4
test_infer4.rs
fix_docs.py
issue19.md
1
expanded.rs
test_expand.rs
test_trait.rs
issue21.md
issue21_implementation.md
parse_error.py
problems.md
fix_code.py
2
search.py
spec.tmp
